<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Vue.js computed练习-搜索页面的实现</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<style type="text/css">
			.container {
				width: 90%;
				margin: 0 auto;
			}

			.input-box {
				width: 50%;
				height: 25px;
				margin-bottom: 10px;
			}

			.item {
				display: flex;
				height: 100px;
				border: 1px solid #eee;
				border-radius: 8px;
				margin-bottom: 8px;
			}

			.item-title {
				flex: 1 1 80%;
			}

			.item-thumbnail {
				flex: 1 1 20%
			}

			.item-thumbnail img {
				width: 100%;
				height: 100%;
			}

		</style>
	</head>
	<body bgcolor="lightpink">
	<body>
		<div id="app">
			<div class="container">
				<span>
					<input type="text" v-model="searchString" placeholder="请输入搜索内容" class="input-box" /><input type="button" class="btn" value="搜索🔍"/>
				</span>
				<div class="item" v-for="article in filteredArticles">
					<a :href="article.url" class="item-title">
						{{article.title}}
					</a>
					<div class="item-thumbnail">
						<img :src="article.image">
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var app = new Vue({
				el: '#app',
				data: {
					searchString: "",
					// 数据模型
					articles: [{
							"title": "堪称神器的3款在线工具，你一定用得上！",
							"url": "https://www.jianshu.com/p/e83e7999346b",
							"image": "https://upload-images.jianshu.io/upload_images/11438996-56b25f32c9307b4b?imageMogr2/auto-orient/strip%7CimageView2/2/w/640/format/webp"
						},
						{
							"title": "经典面试题：从 URL 输入到页面展现到底发生什么？",
							"url": "https://www.jianshu.com/p/45ba3e0d0c7e",
							"image": "https://upload-images.jianshu.io/upload_images/3973862-d90954249a6f6ccd.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1000/format/webp"
						},
						{
							"title": "如何免翻墙使用谷歌搜索和Chrome应用商店",
							"url": "https://www.jianshu.com/p/484f8e6c88f6",
							"image": "https://upload-images.jianshu.io/upload_images/858154-015a4b083685a3d1.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/800/format/webp"
						},
						{
							"title": "四款前所未有好用的黑科技APP，绝对的良心实用，赶紧告诉家人",
							"url": "https://www.jianshu.com/p/2aec84d269fe",
							"image": "https://upload-images.jianshu.io/upload_images/16042993-168b2cb17fd7ec0c?imageMogr2/auto-orient/strip%7CimageView2/2/w/640/format/webp"
						},
						{
							"title": "坚持学英语的方法有哪些",
							"url": "https://www.jianshu.com/p/0a6a61b0933c",
							"image": "https://upload-images.jianshu.io/upload_images/3525704-c7293758fc59e56b.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/960/format/webp"
						}
					]
				},
				computed: {
					// 计算函数，匹配搜索
					filteredArticles: function() {
						var articles_array = this.articles,
							searchString = this.searchString;
						//搜索关键词为空,则返回原始数据集
						if (!searchString) {
							return articles_array;
						}
						//搜索关键词去除无用空格,转换为小写
						searchString = searchString.trim().toLowerCase();
						//过滤数组中每个元素,如果
						articles_array = articles_array.filter(function(item) {
							if (item.title.toLowerCase().indexOf(searchString) !== -1) {
								return item;
							}
						})
						// 返回转化后的数组
						return articles_array;;
					}
				}
			})
		</script>
	</body>
</html>
