<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Vue.js条件和循环的综合练习</title>
		<!-- 通过CDN引入Vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<style type="text/css">
			.container{
				display: flex;
				width: 80%;
				margin: 0 auto;
			}
			.card{
				width: 200px;
				height:200px;
				margin-right: 30px;
				border: 1px solid #EEE;
				border-radius: 10px;
				text-align: center;
			}
			.card img{
				height:100%;
				width:100%;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
			.like{
				color: green;
				font-weight: bold;
			}
			.nolike{
				color:red;
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<!-- Vue-app的根容器 -->
		<div id="app">
			<h2 v-if="show">显示图书信息</h2>
			<div class="container">
				<!-- 通过循环遍历books数组 -->
				<div class="card" v-for="book in books">
					<!-- 显示图片的名称 -->
					<h4>{{book.name}}</h4>
					<!-- 绑定图片的封面属性 -->
					<img :src="book.cover">
					<!-- 判定like的值，显示不同的文字 -->
					<p class="like" v-if="book.like">喜欢</p >
					<p class="nolike" v-else>不喜欢</p >
				</div>
			</div>
		</div>
		<script type="text/javascript">
			// 实例化一个Vue对象
			var app=new Vue({
				el:'#app',
				data:{
					show:true,
					books:[
						{
							name:'无名盛宴',
							cover:'img/001.jpg',
							like:true
						},
						{
							name:'念楼学短',
							cover:'img/002.jpg',
							like:false
						},
						{
							name:'且在人间',
							cover:'img/003.jpg',
							like:true
						},
						{
							name:'你好，地球人',
							cover:'img/004.jpg',
							like:false
						}
					]
				}
			})
		</script>
	</body>
</html>